# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [108]:
def lesser_of_two_evens(a,b):
    if(a%2==0 and b%2==0):
        return min(a,b)
    else:
        return max(a,b)

In [109]:
# Check
lesser_of_two_evens(2,4)

2

In [110]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [13]:
def animal_crackers(text):
    words=text.split()
    count=0
    for x in words:
        count+=1
    if(count==2):
        if(words[0][0]==words[1][0]):
            print(f'Both the words {words[0]} and {words[1]} start with the same letter')
        else:
            print(f'words start with different letters')

In [14]:
# Check
animal_crackers('Levelheaded Llama')

Both the words Levelheaded and Llama start with the same letter

In [15]:
# Check
animal_crackers('Crazy Kangaroo')

words start with different letters

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [16]:
def makes_twenty(n1,n2):
    if(n1+n2==20 or n1==20 or n2==20):
        return True
    else:
        return False

In [17]:
# Check
makes_twenty(20,10)

True

In [18]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [21]:
def old_macdonald(name):
    res=""
    for idx in range(len(name)):
        if(idx==0 or idx==3):
            res+=name[idx].upper()
        else:
            res+=name[idx].lower()
    return res

In [23]:
# Check
old_macdonald('harvey')

'HarVey'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [40]:
def master_yoda(text):
    myList=text.split()
    reverse=" ".join(reversed(myList))
    return reverse

In [41]:
# Check
master_yoda('I am home')

'home am I'

In [42]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [44]:
def almost_there(n):
    if((n>=90 and n<=110) or (n>=190 and n<=210)):
       return True
    else:
       return False

In [45]:
# Check
almost_there(104)

True

In [46]:
# Check
almost_there(150)

False

In [47]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) â†’ True
    has_33([1, 3, 1, 3]) â†’ False
    has_33([3, 1, 3]) â†’ False

In [110]:
def has_33(nums):
    for idx in range(len(nums)-1):
        if(nums[idx]==nums[idx+1]==3):
            return True
    return False

In [111]:
# Check
has_33([1, 3, 3])

True

In [112]:
# Check
has_33([1, 3, 1, 3])

False

In [113]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [61]:
def paper_doll(text):
    res=""
    for idx in range(len(text)):
        res+=text[idx]*3
    return res

In [62]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [63]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [114]:
def blackjack(a,b,c):
    if(a+b+c<=21):
        return (a+b+c)
    elif(a+b+c>21 and (a==11 or b==11 or c==11)):
        return(a+b+c-10)
    else:
        return "BUST"

In [115]:
# Check
blackjack(5,6,7)

18

In [116]:
# Check
blackjack(9,9,9)

'BUST'

In [117]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [148]:
def summer_69(arr):
    sum=0
    for idx in range(len(arr)):
        if(arr[idx]!=6):
            sum+=arr[idx]
        else:
            for idx1 in range(idx+1,len(arr)):
                if(arr[idx1]==9 and idx1!=len(arr)-1):
                    sum+=arr[idx1+1]
                else:
                    continue
            return sum

In [149]:
# Check
summer_69([1, 3, 5])

In [150]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [151]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [183]:
def spy_game(nums):
    for idx in range(len(nums)-2):
        if(nums[idx]==0 and nums[idx+1]==0 and nums[idx+2]==7):
            return True
    return False

In [184]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [185]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [186]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [126]:
def count_primes(num):
    countMain=0
    for num1 in range(2,num+1):
        count=0
        for num2 in range(num1,2,-1):
            if(num1%num2==0):
                count+=1
                if(count>1):
                    break
                else:
                    continue
        if(count==1):
            countMain+=1       
    return countMain

In [127]:
# Check
count_primes(20)

8

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!